In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import os
print(os.listdir())

['saadet_doga_hascelik_To_predict_.ipynb', 'jrjModelRegistry', '.DS_Store', 'saadet_doga_hascelik_Advance regression3.ipynb', 'saadet_doga_hascelik_Advance regression1.ipynb', '.~jrjModelRegistryCache', 'anaconda_projects', 'saadet_doga_hascelik_2_Heart+Disease+Prediction.ipynb', 'saadet_doga_hascelik_Heart+Disease+Prediction.ipynb', 'saadet_doga_hascelik_Housing+Case+Study+--+Tree+Models.ipynb', '__pycache__', 'saadet_doga_hascelik_Advance regression2.ipynb', 'saadet_doga_hascelik_Evaluating_Binary_Classification.ipynb', '.ipynb_checkpoints', 'saadet_doga_hascelik_LiniearProbobility-logistic regresiion.ipynb', 'heart_v2.csv', 'saadet_doga_hascelik_Advance regression3-withDT.ipynb', '.~jrjModelRegistry']

In [4]:
import os
print(os.getcwd())

/Users/dogahascelik/Desktop/assignment-2

In [5]:
# https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [6]:
import sys
sys.path.append(os.getcwd())

In [7]:
from jrjModelRegistry import selectModelAndPredict

In [8]:
import jrjModelRegistry
print(dir(jrjModelRegistry))

['APIRouter', 'CACHE_DIR', 'FileResponse', 'HTTPException', 'InvalidId', 'JSONEncoder', 'JrjModelRegistry', 'ObjectId', 'Path', 'Request', 'StaticFiles', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'datetime', 'deleteAJrjModelAsset', 'deleteModelById', 'delete_model', 'find_model_by_id', 'find_model_by_idAndLoadModel', 'find_model_by_id_endpoint', 'getRoot', 'handleDashboard', 'hashlib', 'initMongodb', 'inspect', 'jrjModelRegistry', 'jrjModelRegistryConfig', 'jrjRouterModelRegistry', 'json', 'loadAJrjModel', 'mongo', 'new_model', 'os', 'pd', 'searchModels', 'searchModelsCommon', 'search_models', 'search_models_common', 'selectDfModelAndReturnFirstItem', 'selectModel', 'selectModelAndPredict', 'sm', 'updateModelById', 'update_model', 'validate_model_registry_config']

In [9]:
import warnings
warnings.filterwarnings("ignore")

In [10]:
from functools import partial

In [11]:
from dotenv import load_dotenv

from pathlib import Path

env_path = Path("../../.env-live")

if env_path.exists():
    print('envs Loaded')
    load_dotenv(dotenv_path=env_path)
from jrjModelRegistry.jrjModelRegistry import registerAJrjModel

In [12]:
def generalRegressionPredictor(self, transformedData):
    return self.predict(transformedData)

In [13]:
sallaryMisDf = pd.read_excel("https://www.dropbox.com/scl/fi/zt2vtwhpz8ndblsxqdqx1/Salary_MIS.xlsx?rlkey=2uk6m7m9w90isv6zsynhhhpyv&st=gxumjns5&dl=1")

In [14]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [15]:
sallaryMisDf.shape

(120, 4)

In [16]:
sallaryMisDf.describe()

           Salary         GPA         MIS  Statistics
count  120.000000  120.000000  120.000000  120.000000
mean    69.875000    3.242750    0.316667    0.341667
std      6.594577    0.493834    0.467127    0.476257
min     53.000000    2.410000    0.000000    0.000000
25%     65.750000    2.805000    0.000000    0.000000
50%     70.000000    3.280000    0.000000    0.000000
75%     73.250000    3.692500    1.000000    1.000000
max     88.000000    3.980000    1.000000    1.000000

In [17]:
sallaryMisDf.shape

(120, 4)

In [18]:
def salaryRegModel1Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics']],has_constant='add')
    return dfTransformer

In [19]:
sm.add_constant(sallaryMisDf[["GPA", "MIS", "Statistics"]])

     const   GPA  MIS  Statistics
0      1.0  3.53    1           0
1      1.0  2.86    1           0
2      1.0  3.69    0           0
3      1.0  3.24    0           0
4      1.0  3.21    0           0
..     ...   ...  ...         ...
115    1.0  3.27    0           0
116    1.0  2.86    1           0
117    1.0  3.04    1           1
118    1.0  2.99    0           0
119    1.0  3.65    0           0

[120 rows x 4 columns]

In [20]:
salaryRegModel1Transformer(sallaryMisDf)

     const   GPA  MIS  Statistics
0      1.0  3.53    1           0
1      1.0  2.86    1           0
2      1.0  3.69    0           0
3      1.0  3.24    0           0
4      1.0  3.21    0           0
..     ...   ...  ...         ...
115    1.0  3.27    0           0
116    1.0  2.86    1           0
117    1.0  3.04    1           1
118    1.0  2.99    0           0
119    1.0  3.65    0           0

[120 rows x 4 columns]

In [21]:
# salaryRegModel1 = sm.OLS(
#   sallaryMisDf["Salary"],
#   sm.add_constant(sallaryMisDf[["GPA", "MIS", "Statistics"]])
# )

In [22]:
salaryRegModel1 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel1Transformer(sallaryMisDf)
)

In [23]:
    salaryRegModel1Fit = salaryRegModel1.fit()

In [24]:
print(salaryRegModel1Fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.790
Method:                 Least Squares   F-statistic:                     150.3
Date:                Thu, 03 Jul 2025   Prob (F-statistic):           8.35e-40
Time:                        20:52:56   Log-Likelihood:                -300.92
No. Observations:                 120   AIC:                             609.8
Df Residuals:                     116   BIC:                             621.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         44.0072      1.860     23.662      0.000      40.324      47.691
GPA            6.6227      0.569     11.649      0.000       5.497       7.749
MIS            6.6071      0.595     11.098      0.000       5.428       7.786
Statistics     6.7309      0.591     11.391      0.000       5.561       7.901
==============================================================================
Omnibus:                        1.144   Durbin-Watson:                   2.164
Prob(Omnibus):                  0.564   Jarque-Bera (JB):                0.758
Skew:                          -0.172   Prob(JB):                        0.685
Kurtosis:                       3.182   Cond. No.                         24.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
sallaryMisDf

     Salary   GPA  MIS  Statistics
0        72  3.53    1           0
1        66  2.86    1           0
2        72  3.69    0           0
3        63  3.24    0           0
4        65  3.21    0           0
..      ...   ...  ...         ...
115      66  3.27    0           0
116      63  2.86    1           0
117      78  3.04    1           1
118      64  2.99    0           0
119      66  3.65    0           0

[120 rows x 4 columns]

In [26]:
salaryRegModel1SampleData = {
    "GPA": [3.53],
    "MIS": [1],
    "Statistics": [0]
}

In [27]:
salaryRegModel1Fit.transformer = salaryRegModel1Transformer

In [28]:
test1 = salaryRegModel1Fit.transformer(salaryRegModel1SampleData)
test1
# salaryRegModel1Fit.mainPredictor(test1)

   const   GPA  MIS  Statistics
0    1.0  3.53    1           0

In [29]:
# def generalRegressionPredictor(self, transformedData):
#     return self.predict(transformedData)

In [30]:
salaryRegModel1Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel1Fit)

In [31]:
salaryRegModel1Fit.mainPredictor(test1)

0    73.992468
dtype: float64

In [32]:
salaryRegModel1FitMetadata = {
    "modelName":f"saadet_doga_hascelik__salaryRegModel1Fit",
    "version":"1.0.1",
    "params": salaryRegModel1Fit.params.to_dict(),
    "score": float(salaryRegModel1Fit.rsquared),
    "modelLibraray": 'sm.OLS',
    "libraryMetadata": {
        "pvalues": salaryRegModel1Fit.pvalues.to_dict(),
        "r_squared": float(salaryRegModel1Fit.rsquared),
        "adj_r_squared": float(salaryRegModel1Fit.rsquared_adj)
    },

    "sampleData": {
        "dataForTransfer": salaryRegModel1SampleData
    }
}
salaryRegModel1FitMetadata

{'modelName': 'saadet_doga_hascelik__salaryRegModel1Fit',
 'version': '1.0.1',
 'params': {'const': 44.007246340574866,
  'GPA': 6.622706150356171,
  'MIS': 6.607068893822081,
  'Statistics': 6.730931143358019},
 'score': 0.7953924097617404,
 'modelLibraray': 'sm.OLS',
 'libraryMetadata': {'pvalues': {'const': 3.2704010980896686e-46,
   'GPA': 3.0777930774062217e-21,
   'MIS': 6.058766938187725e-20,
   'Statistics': 1.2379781357347966e-20},
  'r_squared': 0.7953924097617404,
  'adj_r_squared': 0.7901008341521303},
 'sampleData': {'dataForTransfer': {'GPA': [3.53],
   'MIS': [1],
   'Statistics': [0]}}}

In [33]:
import sys
sys.path.append('./')  # klasörün kendisini path'e ekler

In [34]:
registerAJrjModel(salaryRegModel1Fit, salaryRegModel1FitMetadata)

InvalidRegionError: Provided region_name 'JRJ_MODEL_REGISTRY_S3_REGION' doesn't match a supported format.

In [ ]:
sallaryMisDf

In [ ]:
# sallaryMisDf["misXStatistics"] = sallaryMisDf["MIS"] * sallaryMisDf["Statistics"]
sallaryMisDf['misXStatistics'] = sallaryMisDf.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)

sallaryMisDf

In [ ]:
def salaryRegModel2Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['misXStatistics'] = df.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'misXStatistics']],has_constant='add')
    return dfTransformer

In [ ]:
salaryRegModel2Transformer(sallaryMisDf)

In [ ]:
salaryRegModel2 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel2Transformer(sallaryMisDf)
)

In [ ]:
salaryRegModel2Fit = salaryRegModel2.fit()

In [ ]:
print(salaryRegModel2Fit.summary())

In [ ]:
salaryRegModel2Fit.transformer = salaryRegModel2Transformer

In [ ]:
salaryRegModel2Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel2Fit)

In [ ]:
test2 = salaryRegModel2Fit.transformer(salaryRegModel1SampleData)
test2

In [ ]:
salaryRegModel2Fit.mainPredictor(test2)

In [ ]:
salaryRegModel2FitMetadata = {
    "modelName":f"saadet_doga_hascelik__salaryRegModel2Fit",
    "version":"1.0.1",
    "params": salaryRegModel2Fit.params.to_dict(),
    "score": float(salaryRegModel2Fit.rsquared),
    "modelLibraray": 'sm.OLS',
    "libraryMetadata": {
        "pvalues": salaryRegModel2Fit.pvalues.to_dict(),
        "r_squared": float(salaryRegModel2Fit.rsquared),
        "adj_r_squared": float(salaryRegModel2Fit.rsquared_adj)
    },

    "sampleData": {
        "dataForTransfer": salaryRegModel1SampleData
    }
}
salaryRegModel2FitMetadata

In [ ]:
registerAJrjModel(salaryRegModel2Fit, salaryRegModel2FitMetadata)

In [ ]:
sallaryMisDf['misXGpa'] = sallaryMisDf.apply(lambda row: row['MIS'] * row['GPA'], axis=1)

sallaryMisDf

In [ ]:
def salaryRegModel3Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['misXGpa'] = df.apply(lambda row: row['MIS'] * row['GPA'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'misXGpa']],has_constant='add')
    return dfTransformer

In [ ]:
salaryRegModel3Transformer(sallaryMisDf)

In [ ]:
salaryRegModel3 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel3Transformer(sallaryMisDf)
)

In [ ]:
salaryRegModel3Fit = salaryRegModel3.fit()

In [ ]:
print(salaryRegModel3Fit.summary())

In [ ]:
salaryRegModel3Fit.transformer = salaryRegModel3Transformer
salaryRegModel3Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel3Fit)
registerAJrjModel(
    salaryRegModel3Fit,
    {
        "modelName":f"saadet_doga_hascelik__salaryRegModel3Fit",
        "version":"1.0.1",
        "params": salaryRegModel3Fit.params.to_dict(),
        "score": float(salaryRegModel3Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel3Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel3Fit.rsquared),
            "adj_r_squared": float(salaryRegModel3Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

In [ ]:
sallaryMisDf['statisticsXGpa'] = sallaryMisDf.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)

sallaryMisDf

In [ ]:
def salaryRegModel4Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['statisticsXGpa'] = df.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'statisticsXGpa']],has_constant='add')
    return dfTransformer

In [ ]:
salaryRegModel4 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel4Transformer(sallaryMisDf)
)

In [ ]:
salaryRegModel4Fit = salaryRegModel4.fit()

In [ ]:
print(salaryRegModel4Fit.summary())

In [ ]:
salaryRegModel4Fit.transformer = salaryRegModel4Transformer
salaryRegModel4Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel4Fit)
registerAJrjModel(
    salaryRegModel4Fit,
    {
        "modelName":f"saadet_doga_hascelik__salaryRegModel4Fit",
        "version":"1.0.1",
        "params": salaryRegModel4Fit.params.to_dict(),
        "score": float(salaryRegModel4Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel4Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel4Fit.rsquared),
            "adj_r_squared": float(salaryRegModel4Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

In [ ]:
def salaryRegModel5Transformer(dataForTransfer = None):
    import pandas as pd
    import statsmodels.api as sm
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)
    df['misXStatistics'] = df.apply(lambda row: row['MIS'] * row['Statistics'], axis=1)
    df['misXGpa'] = df.apply(lambda row: row['MIS'] * row['GPA'], axis=1)
    df['statisticsXGpa'] = df.apply(lambda row: row['Statistics'] * row['GPA'], axis=1)
    df['misXStatisticsXGpa'] = df.apply(lambda row: row['MIS'] * row['Statistics'] * row['GPA'], axis=1)
    dfTransformer = sm.add_constant(df[['GPA', 'MIS', 'Statistics', 'misXStatistics', 'misXGpa', 'statisticsXGpa', 'misXStatisticsXGpa']],has_constant='add')
    return dfTransformer

In [ ]:
salaryRegModel5 = sm.OLS(
  sallaryMisDf["Salary"],
  salaryRegModel5Transformer(sallaryMisDf)
)

In [ ]:
salaryRegModel5Fit = salaryRegModel5.fit()

In [ ]:
print(salaryRegModel5Fit.summary())

In [ ]:
salaryRegModel5Fit.transformer = salaryRegModel5Transformer
salaryRegModel5Fit.mainPredictor = partial(generalRegressionPredictor, salaryRegModel5Fit)
registerAJrjModel(
    salaryRegModel5Fit,
    {
        "modelName":f"saadet_doga_hascelik__salaryRegModel5Fit",
        "version":"1.0.1",
        "params": salaryRegModel5Fit.params.to_dict(),
        "score": float(salaryRegModel5Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel5Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel5Fit.rsquared),
            "adj_r_squared": float(salaryRegModel5Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)

## AFTER AREFULLY LOOKUP WE RELIZED  salaryRegModel2Fit SO LETS KEEP IT AS THE BEST

In [ ]:
compareDf = pd.read_csv('./salaryRegModelsComparison.csv')

In [ ]:
compareDf

In [ ]:
registerAJrjModel(
    salaryRegModel2Fit,
    {
        "modelName":f"saadet_doga_hascelik__salaryRegModelBEST",
        "version":"1.0.1",
        "params": salaryRegModel2Fit.params.to_dict(),
        "score": float(salaryRegModel2Fit.rsquared),
        "modelLibraray": 'sm.OLS',
        "libraryMetadata": {
            "pvalues": salaryRegModel2Fit.pvalues.to_dict(),
            "r_squared": float(salaryRegModel2Fit.rsquared),
            "adj_r_squared": float(salaryRegModel2Fit.rsquared_adj)
        },
    
        "sampleData": {
            "dataForTransfer": salaryRegModel1SampleData
        }
    }
)